a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #fc06c6; /* #4CAF50;   */
  margin-right: 0em;
  color : white;
  /* font-weight: bold; */
}
a.navbar-brand:hover
{
  background-color:black;
  color : white;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
/* a.text-dark
{
  font-weight: bold;
} */

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color:#f9f9f9;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent; /* #f9f9f9; */
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color:white ;;
}

.dropdown-content a:hover {background-color: #f9f9f9}   /* rgb(235, 250, 236) */

.dropdown:hover .dropdown-content {
  display: block;
}
